# Ігнорувати файли даних
*.csv
*.json
*.xlsx
/data/

# Ігнорувати конфіденційні файли
.env
*.secret

# Ігнорувати папки залежностей
/node_modules/
/vendor/

# Ігнорувати файли IDE
.idea/
.vscode/

# Ігнорувати тимчасові файли
*.tmp
*.log

# Системні файли (Mac/Windows)
.DS_Store
Thumbs.db